body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  font-family: 'Lobster', cursive;
}
.bg {
  width: 100vw;
  height: 100vw * 1.50117279;
  margin: auto;
}

.poulet {
  position: absolute;
  width: 20vw;
  height: 20vw * 1.50117279;
  overflow-x: hidden;
  right: -20vw;
  top: 25vw;
  animation: 2s ease-in 5s move_chicken forwards;
}

.poulet-bulle {
  position: absolute;
  opacity: 0;
  width: 20vw;
  height: 20vw * 1.50117279;
  right: 10vw;
  top: 15vw;
  animation: 1s ease-in 7s show forwards;
}

.loup {
  position: absolute;
  opacity: 0;
  width: 20vw;
  height: 20vw * 1.50117279;
  left: 26vw;
  top: 30vw;
  animation: 1s ease-in 2s show forwards;
}

.loup-bulle {
  position: absolute;
  opacity: 0;
  width: 20vw;
  height: 20vw * 1.50117279;
  left: 5vw;
  top: 26vw;
  animation: 1s ease-in 3s show forwards;
}
/* 1920x1279  ratio => 1.3338*/

.infos {
  text-align: center;
  position: absolute;
  height: 35vh;
  width: 100vw;
  color: white;
  background: linear-gradient(
    hsl(0 0% 0% /1),
    hsl(0 0% 0% /.75) 60%,
    hsl(0 0% 0% /0)
  );
}
h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.details {
  text-align: start;
  display: flex;
  justify-content: space-evenly;
}


@keyframes move_chicken {
  from {
    right: -20vw;
  }
  to {
    right: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

